<header>
    <div class="content-header">
        <div class="divisao-logo">
            <a href=""><img src="../../../../assets/media/logo-osp.png" alt=""></a>
        </div>
        
        <div class="divisao-center">
            <h1></h1>
        </div>
        
        <div class="divisao-foto">
            <div class="avatar">
                <a href="">
                    <img src="../../../../assets/media/logo.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>