    <div class="sidebar">
        <div class="sidebar-content">
            <div class ='item' *ngFor = 'let item of data'>
                <button id="buttonlink" (click)="linkbutton(item.rota)"> 
                    <div class="logo-item"><img src="{{item.imagem}}" alt=""></div>
                    <div class="nome-item">{{item.nome}}</div>
                    <div class="icon-down"><img src="{{item.icon_down}}" alt=""></div>
                </button>
            </div>
            
        </div>
    </div>
