
.contentInputDados{
display: flex;
justify-content: center;
align-items: center;
margin: 10%;

  @media screen and (max-height: 700px) {
    margin: 4%;
  }
.contentform{
  border-radius: 10px; 
  box-shadow: 0 30px 60px 0 gray;
  width: 45%;
  height: 450px;
  text-align: center;
  transition: all 0.5s ease-in-out;

  @media screen and (min-height: 800px) {
  }
  
 
  .login-container {
    display: flex;
    border-radius: 5px ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;

    h2 {
      margin-bottom: 20px;
      color: #333;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;

      label {
        margin-bottom: 10px;
        color: #292929;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
      }

      button {
        width: 100%;
        padding: 10px;
        background-color: #ff6666;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        

        &:hover {
          background-color: #ff4d4d;
        }

        &:active{
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
      }
    }

    .cadastrar_se{
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding-top: 60px;

      p{
        font-size: 14px;
        font-weight: 400;

      }

      a{
        text-decoration: None;
        color:#ff6666;
      }
    }
  }
}
.contentform:hover{
  box-shadow: 0 30px 60px 0 rgb(77, 75, 75);
}
}

.footer{
  padding-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  div{
    width: 450px;

    p{
      display: flex;
      justify-content: center;
      border-top: 1px solid #292929 ;
    }
  }
  
}