<div class='contentInputDados'> 
    <!-- <form  [formGroup]="formulariologin"  class='contentform' (submit)="submitLogin()" > -->
        <form class='contentform'>
        <div class="login-container">
            <h2>Cadastro</h2>
            <div class="form">
               
                    <input type="text" placeholder="Primeiro Nome" id="matricula" formControlName="nm_primeiro" required>
                    <input type="text" placeholder="Sobrenome" id="matricula" formControlName="nm_ultimo" required>
                    
                    <input type="email" placeholder="E-mail" id="matricula" formControlName="email" required>
            
                    <input type="password"  placeholder="Senha" id="senha"  formControlName="senha" name="senha" required>
                    <input type="password"  placeholder="Senha novamente" id="senha"  formControlName="senha" name="senha" required>
         
                <button>Entrar</button>
            </div>
        </div>
    </form>
</div> 
<div class="footer">
    <div>
        <p>powered by: <strong> Oral System Plan</strong> </p>
    </div>
</div>